body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 80vh 100vh 100vh 100vh 35vh;
  grid-template-areas:
    'navbar navbar navbar navbar navbar navbar'
    '. introduction introduction introduction introduction .'
    '. whoami whoami whoami whoami .'
    '. skills skills skills skills .'
    '. work work work work .'
    '. findme findme findme findme .';
}

.navbar-container {
  grid-area: navbar;
}

.introduction-container {
  grid-area: introduction;
}

.whoami-container {
  grid-area: whoami;
}

.skills-container {
  grid-area: skills;
}

.work-container {
  grid-area: work;
}

.findme-container {
  grid-area: findme;
  position: relative;
}

.navbar-desktop {
  padding: 0 10%;
  background-color: black;
  position: fixed;
  width: 100%;
}

.navbar-desktop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-desktop li {
  float: left;
  width: calc(80% / 5);
}

.navbar-desktop li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.navbar-mobile {
  display: none;
}

.findme-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.findme-container li {
  float: left;
}

.findme-container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.findme-creator {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 80vh auto auto auto auto;
    grid-template-areas:
      'navbar navbar'
      'introduction introduction'
      'whoami whoami '
      'skills skills '
      'work work'
      'findme findme';
  }
  .introduction-container,
  .whoami-container,
  .skills-container,
  .work-container,
  .findme-container {
    margin: 8px;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
    position: relative;
    height: 5vh;
    background-color: black;
  }
  .navbar-mobile p {
    text-align: center;
    color: aliceblue;
    margin: 0;
    line-height: 5vh;
  }
  .humburger-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10vw;
    height: 5vh;
    padding: calc(0.7 * 5vh / 4) calc(0.1 * 5vh) 0px calc(0.1 * 5vh);
    box-sizing: border-box;
  }
  .humburger-icon-line {
    width: 100%;
    height: calc(0.1 * 5vh);
    background-color: white;
    margin-bottom: calc(0.7 * 5vh / 4);
  }
  .findme-creator {
    position: relative;
    bottom: 0;
    font-size: 12px;
  }
}
