.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 80vh 100vh 100vh 100vh 50vh;
  grid-template-areas:
    '. navbar navbar navbar navbar .'
    '. introduction introduction introduction introduction .'
    '. whoami whoami whoami whoami .'
    '. languages languages languages languages .'
    '. work work work work .'
    '. findme findme findme findme .';
}

.navbar-container {
  grid-area: navbar;
}

.introduction-container {
  grid-area: introduction;
}

.whoami-container {
  grid-area: whoami;
}

.languages-container {
  grid-area: languages;
}

.work-container {
  grid-area: work;
}

.findme-container {
  grid-area: findme;
  position: relative;
}

.findme-creator {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-container li {
  float: left;
  width: 20%;
}

.navbar-container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
